.card {
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 16px 0px rgba(24, 0, 56, 0.945);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
